.jumbotron-event {
        background: #000 url('wwc-kickoff.jpg') no-repeat center center;
	/*background: #677DB7;*/
        background-size: cover;
        opacity: 0.75;
        min-height: 450px;
	padding-bottom: 0;
        color: white;
}

.jumbotron h4 {
        margin-top: 12%;
        left: 10px;
        font-size: 1.2em;
        color: white;
}

.flyer-image {
        margin-top: 5%;
	margin-bottom: 10%;
        margin-left: 20%;
	margin-right: 5%;
	width: 620px;
	height: 860px;
	float: left;

}

.cbre-info-card {
        width: 770px;
        height: 380px;
        margin-top: 270px;
        border-color: black;
        border-width: 2px;
        border-radius: 10px;
}

event-info {
	position: relative;
	top: 320px;
	font-size: 25px;
}


