nav.navbar, .navbar-default {
	min-height: 80px;
	font-size: 20px;
	padding: 5px 20px;
	background-color: #6A8D92 !important;
}

.navbar-default {
	background-image: none;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}


.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a:hover {
	color: white;
	background-color: transparent;
}

.fa-facebook-square {
	font-size: 35px;
	width: 50px;
	text-align: center;
	color: white;
}

.fa-facebook-square:hover {
        color: #16324F;
        text-decoration: none;
}


.fa-instagram {
	font-size: 35px;
	width: 50px;
	text-align: center;
	color: white;
}

.fa-instagram:hover {
	color: #16324F;
	text-decoration: none;
}

.fa-envelope {
	font-size: 35px;
	width: 50px;
	text-align: center;
	color: white;
}

.fa-envelope:hover {
        color: #16324F;
        text-decoration: none;
}


.logo {
	width: 7.5%;
}


nav-h {
	padding: 1em;
	font-size: 25px;
	font-family: 'Domine', serif;
	font-weight: 90px;
}

nav-sh {
	padding: 1em;
	margin-left: 2%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

nav-tab {
	font-family: 'Robot', sans-serif;
	font-size: 20px;
}


