nav.navbar, .navbar-default {
	min-height: 40px;
	font-size: 20px;
	padding: 5px 20px;
	background-color: #25274D !important;
}

.fa-facebook-square {
	font-size: 35px;
	width: 50px;
	text-align: center;
	color: white;
}

.fa-facebook-square:hover {
        color: #F64C72;
        text-decoration: none;
}


.fa-instagram {
	font-size: 35px;
	width: 50px;
	text-align: center;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.fa-instagram:hover {
	color: #F64C72;
	text-decoration: none;
}

.fa-envelope {
	font-size: 30px;
	width: 50px;
	text-align: center;
	color: white;
	padding-left: 10px;
}

.fa-envelope:hover {
        color: #F64C72;
        text-decoration: none;
}


.logo {
	margin-left: 20px;
	width: 100px;
	
}

nav-tab {
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	color: white;
}

nav-tab:hover {
	color: #F64C72;
}


