.jumbotron {
	min-height: 450px;
        color: white;
        left: 10px;
        font-size: 75px;
}

.person-wrapper {
	margin-bottom: 1em;
}

.btn-primary {
	background-image: none;
	border: none;
	border-radius: 10%;
	background-color: #6A8D92;
	font-family: 'Raleway', sans-serif;
}

.btn-primary:hover {
	background-color: grey;
}

.event-flyer {
        width: 70%;
	padding-bottom: 2px;
	border: solid black;
	border-width: 1px;
}

event-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

event-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
}



event-date {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.event-card {
	margin-bottom: 20px;
	border: solid black;
	border-radius: 10px;
	border-width: 2px;
        width: 355px;
        height: 490px;
}

.event-card:hover {
	background-color: #FA99AE;
	transition: background 0.6s ease; 
}

h3 {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 3%;
        font-size: 55px;
        color: black;
	font-family: 'Montserrat', sans-serif;
}

semester {
	font-size: 50px;
}

