.jumbotron-gwc {
	background-color: #bddce1;
        background-size: cover;
        margin-bottom: 80px;
        height: 500px;

}

.jumbotron-gwcabout {
	width: 1500px;
	height: 950px;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 150px;
}

.gwc-gender-gap {
	width: 700px;
	height: 400px;
	margin-top: 30px;
	margin-left: 350px;
}

.jumbotron-gwccollegeloops {
        background-color: white;
	width: 1500px;
	height: 850px;
        margin-left: 10%;
	margin-right: 10%;
	margin-top: -70px;
        margin-bottom: 150px;
}

.jumbotron-gwcmembership {
        background-color: white;
        margin-left: 10%;
	margin-right: 10%;
	margin-top: -70px;
        margin-bottom: 150px;
}

.gwclogo-img {
        width: 650px;
        height: 350px;
        margin-top: -10px;
        margin-left: 570px;
}

.gwc-logo-2 {
        margin-top: -30px; 
        margin-bottom: 50px;
        margin-left: 490px;
        width: 35%;
}

.btn-link {
        background-image: none;
        margin-top: -60px;
        margin-left: 110px;
        width:230px;
        height: 50px;
        color: #2B2D42;
        font-size: 27px;
        font-family: 'Raleway', sans-serif;
}

.btn-link:hover {
	color: grey;
}

.gwccollegeloops-img {
	width: 550px;
	height: 400px;
	margin-left: 450px;
}

wicys-heading {
	font-size: 65px;
}

link-text {
	font-family: 'Montserrat', sans-serif;
	margin-left: 560px;
	color: #2B2D42;
}

color-link {
	color: #2B2D42;
}
