.carousel {
	margin-top: 0px;
	margin-bottom: 100px;
	max-width: 2100px;
	transition: transform 2s ease, opacity .5s ease-out;
}

.carousel-image {
	height: 873px;
	width: 2100px;
        filter: brightness(65%);	
}

.overlay { 
  color: white;
  position:absolute;
  z-index:12;
  top: 45%;
  left:0;
  width:100%;
  text-align:center;
}

main-title {
	color: white;
	font-size: 90px;
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}

sub-title {
	color: white;
	font-size: 50px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.fa-arrow-circle-down {
	margin-top: 10px;
        font-size: 85px;
        text-align: center;
        color: white;
}

.fa-arrow-circle-down:hover {
        color: #0097A7;
        text-decoration: none;
}

.jumbotron-infobox {
        background-color: white;
	margin-top: 20px;
	margin-bottom: 100px;
	height: 1250px;
	margin-left: 10%;
	margin-right: 10%;

}

.jumbotron-eventbox {
        background-color: white;
        margin-top: 20px;
        margin-bottom: 100px;
        height: 970px;
        margin-left: 10%;
        margin-right: 10%;

}

.jumbotron-flyerbox {
	background-color: #0097a7;
	width: 1200px;
	height: 670px;
	margin-left: 130px;
	margin-bottom: 130px;

}

.goals-card {
	width: 500px;
	height: 230px;
	margin-bottom: 70px;
	margin-left: 90px;
	border: solid black;
	border-width: 2px;
	border-radius: 10px;
}

.goals-card:hover {
	background-color: #bddce1;
	transition: background 0.6s ease;
}

.jumbotron-sisterorgs {
	background-color: white;
	margin-bottom: 100px;
	margin-left: 10%;
	margin-right: 10%;
	height: 780px;
}

.wicys-logo {
        margin-top: 40px;
	margin-bottom: 30px;
        width: 100%;
}

.gwc-logo {
	margin-top: 60px;
	margin-bottom: 30px;
	width: 100%;
}

.footer-logo {
	margin-top: 20px;
	margin-left: 30px;
	width: 85%;
}

.footer-wrapper {
        margin-bottom: 2em;
}

.footer-icons a {
        padding: 15px;
        margin-bottom: 1em;
        font-size: 29px;
        color: black;
}

hr {
	width: 150px;
        height: 10px;
        margin-top: -5px;
	margin-bottom: 50px;
        background-color: #0097a7;
}

.flyer-card {
	background-color: #bddce1;
}

.flyer-card:hover {
	background-color: #65ADB9;
	transition: background 0.6s ease;
}


.logo-card {
	margin-top: 50px;
	background-color: white;
	border: solid black;
	border-radius: 10px;
	border-width: 2px;
	box-shadow: 5px 10px #A4A9AD;
	margin-left: 180px;
	width: 400px;
	height: 300px;
}


.flyer {
	margin-top: 30px;
	margin-left: 2px;
	width: 280px;
	height: 350px;
}


card-title {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: black;
	
}


.btn-default {
        background-image: none;
        margin-top: -20px;
	margin-left: 508px;
	width: 130px;
	height: 50px;
        border: solid #BDDCE1;
	border-radius: 10%;
	color: black;
	font-size: 20px;
	font-weight: 600;
        font-family: 'Raleway', sans-serif;
}

.btn-default:hover {
	background-color: #BDDCE1;
	transition: background 0.6s ease;
}

.footer {
	height: 400px;
	background-color: #0097a7;
	color: white;
	font-size: 15px;
	padding: 90px 0 20px;
}

.footer-bottom {
	background-color: #0097a7;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}

.social-icons-footer a {
        padding-right: 15px; 
	margin-right: 1em;
        font-size: 30px;
        color: white;
}

.social-icons-footer a:hover {
	text-decoration: none;
	color: #16324F;
}


about-info {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: white;
}

quick-link {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	font-weight: 600;	
	color: white;
	
}

quick-link:hover {
	text-decoration: white underline;
}


ft-head {
	padding-top: 10px;
	font-size: 23px;
        font-family: 'Montserrat', sans-serif;
}

h2 {
        left: 150px;
        font-size: 30px;
	color: black;
	font-family: 'Raleway', sans-serif;
}

h6 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
	font-weight: 900;
	color: black;

}

body {
	background-color: #EFEFEF;
}

