.jumbotron-membership {
        background: #000 url('wwc-kickoff.jpg') no-repeat center center;
        background-size: cover;
        opacity: 0.8;
        min-height: 100px;
	max-height: 520px;
	margin-bottom: 70px;
        color: white;
}

.jumbotron h5 {
        margin-top: 15%;
        left: 10px;
        font-size: 90px;
	font-weight: 900;
        color: white;
        font-family: 'Montserrat', sans-serif;
}

.faq-card {
	width: 1300px;
	height: 200px;
	margin-left: 300px;
	margin-bottom: 40px;
	background-color: white;
        border: solid black;
        border-radius: 10px;
        border-width: 2px;
}

.faq-card:hover {
	background-color: #BDDCE1;
	transition: background 0.6s ease;
}

question {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 25px;
}

answer {
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
}
