.jumbotron-officers {
	background: #000 url('wwc-intuit.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.8;	
	min-height: 100px;
	color: white;
}

.jumbotron h5 {
	margin-top: 15%;
	left: 10px;
	font-size: 90px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.container-color {
	background-color: pink;
}

.person-wrapper {
        margin-bottom: 2em;
}

.profile-pic {
	margin-top: 25px;
	margin-left: 27px;
        width: 85%;
}

.officer-card {
	background-color: #FCFCFC;
        margin-bottom: 60px;
	margin-left: 10px;
	background-color: white;
        border: solid black;
        border-radius: 10px;
        border-width: 2px;
        box-shadow: 5px 10px #A4A9AD;
        width: 365px;
        height: 650px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
        margin-bottom: 1em;
}

h4 {
	font-family: 'Raleway', sans-serif;
}

b4 {
	width: 300px;
	padding: 50px;
}

.social-icons a {	
	padding: 15px;
	margin-bottom: 1em;
	margin-right: 1em;
	font-size: 29px;
	color: black;
}

.social-icons a:hover {
	color: #0097A7;
	text-decoration: none;
}


