.jumbotron-officers {
	background: #000 url('wwc-team.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.7;
	min-height: 100px;
	color: white;
}

.jumbotron h5 {
	margin-top: 15%;
	left: 10px;
	font-size: 90px;
	color: white;
	font-family: 'Solway', serif;
}
.container-color {
	background-color: pink;
}

.person-wrapper {
        margin-bottom: 2em;
}

.profile-pic {
	margin-bottom: 1em;
        width: 80%;
}

h3 {
	font-family: "Domine", serif;
        margin-bottom: 1em;
}

h4 {
	font-family: 'Roboto', sans-serif;
}

b4 {
	width: 300px;
	padding: 50px;
}

.social-icons a {	
	padding: 15px;
	margin-bottom: 1em;
	margin-right: 1em;
	font-size: 29px;
	color: black;
}

