.jumbotron-wicys1 {
	background: #000 url('wicys-4.jpg') no-repeat center center;
        background-size: cover;
        margin-bottom: 80px;
        height: 500px;

}

.carousel-wicys-image {
        height: 650px;
        width: 1050px;
	margin-top: 50px;
	margin-left: 100px; 
	border: solid black;
	border-width: 2px;
	border-radius: 10px;
}

.wicys-card {
	width: 1300px;
	height: 600px;
	margin-bottom: 70px;
	margin-left: 300px;
	background-color: white;
	/*border: solid black;
	border-radius: 10px;
	border-width: 2px;*/
}

.wicysconference-card {
        width: 1300px;
        height: 1270px;
        margin-bottom: 70px;
	margin-left: 300px;
        background-color: white;
        /*border: solid black;
	border-radius: 10px;
	border-width: 2px;*/
}

.wicys-logo-2 {
        margin-top: 50px;
	margin-bottom: 200px;
        margin-left: 630px;
        width: 500px;
        height: 350px;
	
}

.btn-link {
        background-image: none;
        margin-left: 110px;
        font-size: 27px;
        font-family: 'Raleway', sans-serif;
}

.btn-link:hover {
	text-decoration: none;
}

wicys-heading {
	font-size: 40px;	
}

link-text {
	font-family: 'Raleway', sans-serif;
	margin-left: 560px;
	color: #2B2D42;
}

color-link {
	color: #2B2D42;
}
