.jumbotron-wicys1 {
	background: #000 url('wicys-4.jpg') no-repeat center center;
        background-size: cover;
        margin-bottom: 80px;
        height: 500px;

}

.wicys-card {
        width: 1200px;
        height: 650px;
        margin-bottom: 40px;
	margin-left: 380px;
        background-color: white;
        border: solid black;
	border-radius: 10px;
	border-width: 2px;
}

.wicys-logo-2 {
        margin-top: 50px;
	margin-bottom: 200px;
        margin-left: 630px;
        width: 500px;
        height: 350px;
	
}

.btn-link {
        background-image: none;
        margin-left: 110px;
        font-size: 27px;
        font-family: 'Raleway', sans-serif;
}

.btn-link:hover {
	text-decoration: none;
}

wicys-heading {
	font-size: 40px;	
}

link-text {
	font-family: 'Raleway', sans-serif;
	margin-left: 560px;
	color: #2B2D42;
}

color-link {
	color: #2B2D42;
}
